{
  "openapi": "3.1.0",
  "info": {
    "title": "API Facturación Electrónica",
    "description": "API para generación de facturas electrónicas con validación ante el SIN",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.cucu.bo/api/v1"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Login al Sistema Api CUCU",
        "description": "Endpoint para obtener token de acceso mediante credenciales",
        "tags": [
          "Autenticación"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              },
              "example": {
                "username": "api.electro",
                "password": "R10V8jpxPm4akFHCacS7kWkCqRy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login Succes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": {
                    "token": "eyJhbGciOiJIUzUxMiJ......",
                    "username": "api.electro"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Credenciales inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/branchOffice": {
      "post": {
        "summary": "Crear una nueva sucursal",
        "description": "Endpoint para registrar una nueva sucursal",
        "tags": [
          "Sucursales"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchOfficeRequest"
              },
              "example": {
                "name": "CUCU",
                "municipality": "MURILLO",
                "address": "Calle de las loma #15323",
                "city": "LA PAZ",
                "phone": "12345678",
                "description": "CUCU ELECTRONICA SUCURSAL TEST"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucursal creada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOfficeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Actualizar una sucursal",
        "description": "Endpoint para modificar los datos de una sucursal existente",
        "tags": [
          "Sucursales"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchOfficeUpdateRequest"
              },
              "example": {
                "name": "CUCU ELECTRONICA TEST",
                "municipality": "LA PAZ",
                "address": "Calle de loma #15323",
                "city": "LA PAZ",
                "phone": "1234567",
                "description": "SUCURSAL:1",
                "branchId": 1,
                "posId": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucursal actualizada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOfficeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Obtener todas las sucursales",
        "description": "Endpoint para listar todas las sucursales registradas",
        "tags": [
          "Sucursales"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de sucursales obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOfficeListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/branchOffice/{branchId}": {
      "get": {
        "summary": "Obtener una sucursal específica",
        "description": "Endpoint para consultar los datos de una sucursal por su ID",
        "tags": [
          "Sucursales"
        ],
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID de la sucursal a consultar"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de la sucursal obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchOfficeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pos": {
      "post": {
        "summary": "Crear un nuevo punto de venta",
        "description": "Endpoint para registrar un nuevo punto de venta (POS)",
        "tags": [
          "Puntos de Venta"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePOSRequest"
              },
              "example": {
                "siatTypePos": 2,
                "branchId": 2,
                "siatDescription": "PUNTO DE VENTA PRUEBAS",
                "posName": "PUNTO DE VENTA PRUEBA",
                "name": "PUNTO DE VENTA"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Punto de venta creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/POSResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Obtener todos los puntos de venta",
        "description": "Endpoint para listar todos los puntos de venta por sucursal",
        "tags": [
          "Puntos de Venta"
        ],
        "parameters": [
          {
            "name": "branchId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID de la sucursal para filtrar los POS"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de puntos de venta obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/POSListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pos/regenerate/{branchId}": {
      "get": {
        "summary": "Regenerar puntos de venta",
        "description": "Endpoint para regenerar los puntos de venta de una sucursal",
        "tags": [
          "Puntos de Venta"
        ],
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID de la sucursal cuyos POS se regenerarán"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Puntos de venta regenerados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/POSRegenerateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Sucursal no encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/catalog": {
      "post": {
        "summary": "Sincronizar todos los catálogos",
        "description": "Endpoint para sincronizar todos los catálogos del SIN",
        "tags": [
          "Catálogos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSyncRequest"
              },
              "example": {
                "posId": 1,
                "branchId": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catálogos sincronizados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Filtrar catálogos",
        "description": "Endpoint para obtener catálogos específicos por agrupador o todos los catálogos",
        "tags": [
          "Catálogos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "posId": {
                    "type": "integer",
                    "description": "ID del punto de venta"
                  },
                  "branchId": {
                    "type": "integer",
                    "description": "ID de la sucursal (default: 1 si no se especifica)",
                    "default": 1
                  },
                  "groupId": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7,
                      8,
                      9,
                      10,
                      11,
                      12,
                      13,
                      14,
                      15,
                      16,
                      17
                    ],
                    "description": "ID del agrupador para filtrar (opcional)"
                  }
                },
                "required": [
                  "posId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catálogos obtenidos exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CatalogFullResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CatalogGroupResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoice/config": {
      "post": {
        "summary": "Configurar visualización de factura",
        "description": "Método para configurar los colores, fuentes y bordes de la factura",
        "tags": [
          "Facturación"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigRequest"
              },
              "example": {
                "colorPrimary": "#ff5729",
                "colorBorder": "#ff972a",
                "colorShadow": "#ffffef",
                "fontType": 2,
                "isBorder": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuración actualizada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigResponse"
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": {
                    "colorPrimary": "#ff5729",
                    "colorBorder": "#ff972a",
                    "colorShadow": "#ffffef",
                    "logo": null,
                    "fontType": "COURIER_STD",
                    "isBorder": true
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Actualizar configuración de factura",
        "description": "Método para actualizar los parámetros de visualización de factura",
        "tags": [
          "Facturación"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuración actualizada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoice/config/upload": {
      "post": {
        "summary": "Subir logo para factura",
        "description": "Método para cargar el logo de la empresa en formato PNG o JPG",
        "tags": [
          "Facturación"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "logo": {
                    "type": "string",
                    "format": "binary",
                    "description": "Archivo de imagen (PNG o JPG)"
                  }
                },
                "required": [
                  "logo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logo cargado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigResponse"
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": {
                    "colorPrimary": "#5a189a",
                    "colorBorder": "#ccff33",
                    "colorShadow": "#8ec52b",
                    "logo": null,
                    "fontType": "OVERPASS",
                    "isBorder": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoice/config/digitalSign": {
      "post": {
        "summary": "Actualizar firma digital y llave privada",
        "description": "Método para cargar los certificados de firma digital",
        "tags": [
          "Facturación"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "privateKey": {
                    "type": "string",
                    "format": "binary",
                    "description": "Archivo de llave privada (.pem)"
                  },
                  "cert": {
                    "type": "string",
                    "format": "binary",
                    "description": "Archivo de certificado (.crt)"
                  }
                },
                "required": [
                  "privateKey",
                  "cert"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificados actualizados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "string",
                      "nullable": true
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "privateKey": {
                          "type": "string",
                          "enum": [
                            "YES",
                            "NO"
                          ]
                        },
                        "cert": {
                          "type": "string",
                          "enum": [
                            "YES",
                            "NO"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": {
                    "privateKey": "YES",
                    "cert": "YES"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/company/updateToken": {
      "post": {
        "summary": "Actualizar token de compañía",
        "description": "Método para actualizar el token SIN de la compañía",
        "tags": [
          "Compañía"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sinToken": {
                    "type": "string",
                    "description": "Token SIN de la compañía"
                  }
                },
                "required": [
                  "sinToken"
                ]
              },
              "example": {
                "sinToken": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token actualizado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/codes/cleanCache": {
      "post": {
        "summary": "Limpiar caché de códigos",
        "description": "Método para limpiar la caché interna de códigos",
        "tags": [
          "Códigos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Caché limpiada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoice/pagination": {
      "get": {
        "summary": "Listado paginado de facturas",
        "description": "Obtiene un listado paginado de facturas con información básica",
        "tags": [
          "Facturas"
        ],
        "parameters": [
          {
            "name": "posId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID del punto de venta"
          },
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "ID de la sucursal"
          },
          {
            "name": "docSector",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Código documento sector"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Número de página"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Número de items por página"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de facturas obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePaginationResponse"
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": {
                    "totalItems": 8,
                    "totalPages": 2,
                    "limit": 4,
                    "page": 1,
                    "prevPage": 0,
                    "nextPage": null,
                    "result": [
                      {
                        "invoiceNumber": 6,
                        "code": "D6A0D688",
                        "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A5306B1BECF34A7439337C4DDF109A7C15F3E0ED2810EC74&numero=6&t=1",
                        "urlInvoice": "https://sandbox.cucu.bo/pdf?code=D6A0D688",
                        "siatCodeState": 690,
                        "typeDocSector": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoice/xml": {
      "get": {
        "summary": "Obtener factura en formato XML",
        "description": "Recupera una factura específica en formato XML",
        "tags": [
          "Facturas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestParams"
              },
              "example": {
                "posId": 1,
                "invoiceNumber": 1026,
                "invoiceCode": "6D1B7B5D"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura XML obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceXMLResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoice/json": {
      "get": {
        "summary": "Obtener factura en formato JSON",
        "description": "Recupera una factura específica en formato JSON",
        "tags": [
          "Facturas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura JSON obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceJSONResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoice/pdf": {
      "get": {
        "summary": "Obtener factura en formato PDF (base64)",
        "description": "Recupera una factura específica en formato PDF codificado en base64",
        "tags": [
          "Facturas"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura PDF obtenida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePDFResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/sale": {
      "post": {
        "summary": "Genera una factura electrónica de venta",
        "description": "Endpoint para la emisión de facturas electrónicas de compra y venta con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequest"
              },
              "example": {
                "posId": 1,
                "clientReasonSocial": "CONTROL TRIBUTARIO",
                "clientDocumentType": 3,
                "clientNroDocument": 99002,
                "clientCode": "407464025",
                "paramPaymentMethod": 2,
                "userPos": "USR_CUCU",
                "typeInvoice": 1,
                "paramCurrency": 1,
                "numberCard": "1111000044446666",
                "clientCity": "La Paz",
                "clientEmail": "nicolas.sandoval@energia-simple.com",
                "observations": "CUCU API Solutions | AWS AI | ODOO | SIAT | DATA BASES | DOCKER | LINUX SERVERS | AI | REST API",
                "exchangeRate": 6.97,
                "amountUsd": 401.72,
                "detailInvoice": [
                  {
                    "activityEconomic": "620100",
                    "unitMeasure": 71,
                    "codeProductSin": 83143,
                    "codeProduct": "API-CUCU",
                    "description": "Implementacion SFE Sistema de Facturación Electrónica Odoo AWS - API REST",
                    "qty": 1,
                    "priceUnit": 2
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura generada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": {
                    "nitEmissor": 6822046012,
                    "invoiceCode": "D6A0D688",
                    "cuf": "1D2C888524*****************1B887CDFDC74",
                    "invoiceNumber": 1,
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A53036C3A38518F1E3AA21C963E8606A883D1B887CDFDC74&numero=1&t=1",
                    "invoiceUrl": "/pdf?code=DC3E4E6TUWxbaS36JJ0w3iOcmlfb&client=10T9ATSWLFY5GOFRETODKH6BF",
                    "dateEmission": "2021-12-13T20:46:54.305",
                    "amountTotal": 2580.0,
                    "amountTotalDiscount": 10.0,
                    "amountTotalCurrency": 2580.0,
                    "userCashier": "S4INC12ABCX",
                    "siatCodeState": 908,
                    "siatCodeReception": "2b10887***********a**e133**f60",
                    "siatDescriptionStatus": "accepted",
                    "countItems": 2,
                    "invoiceXml": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<facturaComputarizadaCompraVenta>\n    <cabecera>\n        <nitEmisor>6822046012</nitEmisor>\n        <razonSocialEmisor></facturaComputarizadaCompraVenta>\n",
                    "detailInvoice": [
                      {
                        "detailId": 3,
                        "activityEconomic": "620100",
                        "codeProductSin": "83141",
                        "codeProduct": "CC-SRVSISCLOUD123",
                        "description": "IMPLEMETACION DE SISTEMAS EN LA NUBE",
                        "qty": 2.0,
                        "unitMeasure": 11,
                        "priceUnit": 1000.0,
                        "amountDiscount": 0.0,
                        "subTotal": 2000.0,
                        "numberSerial": null,
                        "numberImei": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/sale/anulation": {
      "post": {
        "summary": "Anula una factura electrónica de venta",
        "description": "Endpoint para la anulación de facturas electrónicas de compra y venta con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestAnulate"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "codeMotive": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 5,
                    "cuf": "1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74",
                    "siatCodeState": 905,
                    "siatDescriptionStatus": "ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74&numero=5&t=2",
                    "invoiceCode": "D80C9B77"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/sale/revert": {
      "post": {
        "summary": "Revierte una factura anulada electrónica de venta",
        "description": "Endpoint para la reversión de facturas electrónicas anuladas de compra y venta con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestRevert"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 3514,
                    "cuf": "1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74",
                    "siatCodeState": 907,
                    "siatDescriptionStatus": "REVERSION DE ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74&numero=3514&t=2",
                    "invoiceCode": "42FE88BD"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/saleBon": {
      "post": {
        "summary": "Genera una factura electrónica de venta",
        "description": "Endpoint para la emisión de facturas electrónicas de compra y venta bonificaciones con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequest"
              },
              "example": {
                "posId": 1,
                "clientReasonSocial": "CLIENTE TEST",
                "clientDocumentType": 1,
                "clientNroDocument": 123456789,
                "clientCode": "CLIENTE2-TEST",
                "paramPaymentMethod": 1,
                "userPos": "S4INC12ABCX",
                "typeInvoice": 1,
                "paramCurrency": 1,
                "clientComplement": 1,
                "clientCity": "Santa Cruz",
                "clientEmail": "cliente@gmail.com",
                "detailInvoice": [
                  {
                    "activityEconomic": "620100",
                    "unitMeasure": 11,
                    "codeProductSin": 83141,
                    "codeProduct": "CC-SRVSISCLOUD123",
                    "description": "IMPLEMENTACIÓN DE SISTEMAS EN LA NUBE",
                    "qty": 2,
                    "priceUnit": 1000
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura generada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "nitEmissor": 6822046012,
                    "invoiceCode": "D6A0D688",
                    "cuf": "1D2C888524*****************1B887CDFDC74",
                    "invoiceNumber": 1,
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A53036C3A38518F1E3AA21C963E8606A883D1B887CDFDC74&numero=1&t=1",
                    "invoiceUrl": "/pdf?code=DC3E4E6TUWxbaS36JJ0w3iOcmlfb&client=10T9ATSWLFY5GOFRETODKH6BF",
                    "dateEmission": "2021-12-13T20:46:54.305",
                    "amountTotal": 2580.0,
                    "amountTotalDiscount": 10.0,
                    "amountTotalCurrency": 2580.0,
                    "userCashier": "S4INC12ABCX",
                    "siatCodeState": 908,
                    "siatCodeReception": "2b10887***********a**e133**f60",
                    "siatDescriptionStatus": "accepted",
                    "countItems": 2,
                    "invoiceXml": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<facturaComputarizadaCompraVenta>\n    <cabecera>\n        <nitEmisor>6822046012</nitEmisor>\n        <razonSocialEmisor></facturaComputarizadaCompraVenta>\n",
                    "detailInvoice": [
                      {
                        "detailId": 3,
                        "activityEconomic": "620100",
                        "codeProductSin": "83141",
                        "codeProduct": "CC-SRVSISCLOUD123",
                        "description": "IMPLEMETACION DE SISTEMAS EN LA NUBE",
                        "qty": 2.0025,
                        "unitMeasure": 11,
                        "priceUnit": 1000.0,
                        "amountDiscount": 0.0,
                        "subTotal": 2000.0,
                        "numberSerial": null,
                        "numberImei": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/saleBon/anulation": {
      "post": {
        "summary": "Anula una factura electrónica de compra y venta bonificaciones",
        "description": "Endpoint para la anulación de facturas electrónicas de compra y venta bonificaciones con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestAnulate"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "codeMotive": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 5,
                    "cuf": "1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74",
                    "siatCodeState": 905,
                    "siatDescriptionStatus": "ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74&numero=5&t=2",
                    "invoiceCode": "D80C9B77"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/saleBon/revert": {
      "post": {
        "summary": "Revierte una factura anulada electrónica de venta bonficaciones",
        "description": "Endpoint para la reversión de facturas electrónicas anuladas de compra y venta bonificaciones con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestRevert"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 3514,
                    "cuf": "1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74",
                    "siatCodeState": 907,
                    "siatDescriptionStatus": "REVERSION DE ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74&numero=3514&t=2",
                    "invoiceCode": "42FE88BD"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/rate": {
      "post": {
        "summary": "Genera una factura electrónica de Tasa Cero por venta de Libros y Transporte Internacional de carga",
        "description": "Genera una factura electrónica de Tasa Cero por venta de Libros y Transporte Internacional de carga con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestRate"
              },
              "example": {
                "posId": 1,
                "clientReasonSocial": "VIDAURRE",
                "clientDocumentType": 5,
                "clientNroDocument": "1410245015",
                "exceptionCode": 1,
                "clientCode": "ADMINCLIENT",
                "clientComplement": null,
                "clientEmail": "normmy@gmail.com",
                "clientPhone": "123123123",
                "paramPaymentMethod": 27,
                "userPos": "USRTESTB341",
                "paramCurrency": "1",
                "clientCity": "SANTA CRUZ",
                "exchangeRate": 8.31,
                "amountUsd": 178.16,
                "additionalDiscount": 1,
                "giftCard": 2,
                "observations": "observations",
                "detailInvoice": [
                  {
                    "activityEconomic": "620100",
                    "unitMeasure": 62,
                    "codeProductSin": 83141,
                    "codeProduct": "PAGOS-F12907",
                    "description": "PAGO DE MATRICULA",
                    "qty": 44,
                    "priceUnit": 8.3
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura generada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                },
                "example": {
                  "message": "COMPLETED_RATE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "nitEmissor": 6822046012,
                    "invoiceCode": "FDA62098",
                    "cuf": "1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74",
                    "invoiceNumber": 14,
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74&numero=14&t=2",
                    "invoiceUrl": "/pdf?code=FDA62098zE5zDVSS4AVTk1RlQjuq&client=V0K9O3URC2849MOQ7Z4PI48B3",
                    "dateEmission": "2024-12-21T16:11:41.805",
                    "amountTotal": 0.0,
                    "amountTotalDiscount": 1.0,
                    "amountTotalCurrency": 364.2,
                    "userCashier": "USRTESTB341",
                    "siatCodeState": 908,
                    "siatCodeReception": "cb43167f-bfd7-11ef-9792-874b9ca9eb03",
                    "siatDescriptionStatus": "VALIDADA",
                    "countItems": 1,
                    "invoiceXml": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<facturaComputarizadaCompraVenta>\n    <cabecera>\n        <nitEmisor>6822046012</nitEmisor>\n        <razonSocialEmisor></facturaComputarizadaCompraVenta>\n",
                    "detailInvoice": [
                      {
                        "detailId": 3,
                        "activityEconomic": "620100",
                        "codeProductSin": "83141",
                        "codeProduct": "CC-SRVSISCLOUD123",
                        "description": "IMPLEMETACION DE SISTEMAS EN LA NUBE",
                        "qty": 2.0025,
                        "unitMeasure": 11,
                        "priceUnit": 1000.0,
                        "amountDiscount": 0.0,
                        "subTotal": 2000.0,
                        "numberSerial": null,
                        "numberImei": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/rate/anulation": {
      "post": {
        "summary": "Anula una factura electrónica de venta",
        "description": "Endpoint para la anulación de facturas electrónicas de Tasa Cero por venta de Libros y Transporte Internacional de carga con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestAnulate"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "codeMotive": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 5,
                    "cuf": "1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74",
                    "siatCodeState": 905,
                    "siatDescriptionStatus": "ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74&numero=5&t=2",
                    "invoiceCode": "D80C9B77"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/rate/revert": {
      "post": {
        "summary": "Revierte una factura anulada electrónica de tasa cero",
        "description": "Endpoint para la reversión de facturas electrónicas anuladas de Tasa Cero por venta de Libros y Transporte Internacional de carga con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestRevert"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 3514,
                    "cuf": "1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74",
                    "siatCodeState": 907,
                    "siatDescriptionStatus": "REVERSION DE ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74&numero=3514&t=2",
                    "invoiceCode": "42FE88BD"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/freeZone": {
      "post": {
        "summary": "Genera una factura electrónica de Venta Zona Franca",
        "description": "Genera una factura electrónica para transacciones por bienes o servicios realizados al interior de zonas francas en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestFreeZone"
              },
              "example": {
                "posId": 1,
                "clientReasonSocial": "VIDAURRE",
                "clientDocumentType": 5,
                "clientNroDocument": "1410245015",
                "exceptionCode": 1,
                "clientCode": "ADMINCLIENT",
                "clientComplement": null,
                "clientEmail": "normmy@gmail.com",
                "clientPhone": "123123123",
                "paramPaymentMethod": 27,
                "userPos": "USRTESTB341",
                "paramCurrency": "1",
                "clientCity": "SANTA CRUZ",
                "exchangeRate": 8.31,
                "amountUsd": 178.16,
                "additionalDiscount": 1,
                "giftCard": 2,
                "observations": "observations",
                "detailInvoice": [
                  {
                    "activityEconomic": "620100",
                    "unitMeasure": 62,
                    "codeProductSin": 83141,
                    "codeProduct": "PAGOS-F12907",
                    "description": "PAGO DE MATRICULA",
                    "qty": 44,
                    "priceUnit": 8.3
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura generada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "nitEmissor": 6822046012,
                    "invoiceCode": "FDA62098",
                    "cuf": "1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74",
                    "invoiceNumber": 14,
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74&numero=14&t=2",
                    "invoiceUrl": "/pdf?code=FDA62098zE5zDVSS4AVTk1RlQjuq&client=V0K9O3URC2849MOQ7Z4PI48B3",
                    "dateEmission": "2024-12-21T16:11:41.805",
                    "amountTotal": 0.0,
                    "amountTotalDiscount": 1.0,
                    "amountTotalCurrency": 364.2,
                    "userCashier": "USRTESTB341",
                    "siatCodeState": 908,
                    "siatCodeReception": "cb43167f-bfd7-11ef-9792-874b9ca9eb03",
                    "siatDescriptionStatus": "VALIDADA",
                    "countItems": 1,
                    "invoiceXml": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<facturaComputarizadaCompraVenta>\n    <cabecera>\n        <nitEmisor>6822046012</nitEmisor>\n        <razonSocialEmisor></facturaComputarizadaCompraVenta>\n",
                    "detailInvoice": [
                      {
                        "detailId": 3,
                        "activityEconomic": "620100",
                        "codeProductSin": "83141",
                        "codeProduct": "CC-SRVSISCLOUD123",
                        "description": "IMPLEMETACION DE SISTEMAS EN LA NUBE",
                        "qty": 2.0025,
                        "unitMeasure": 11,
                        "priceUnit": 1000.0,
                        "amountDiscount": 0.0,
                        "subTotal": 2000.0,
                        "numberSerial": null,
                        "numberImei": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/freeZone/anulation": {
      "post": {
        "summary": "Anula una factura electrónica de Venta Zona Franca",
        "description": "Endpoint para la anulación de facturas electrónicas de Venta Zona Franca con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestAnulate"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "codeMotive": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 5,
                    "cuf": "1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74",
                    "siatCodeState": 905,
                    "siatDescriptionStatus": "ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74&numero=5&t=2",
                    "invoiceCode": "D80C9B77"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/freeZone/revert": {
      "post": {
        "summary": "Revierte una factura anulada electrónica de Venta Zona Franca",
        "description": "Endpoint para la reversión de facturas electrónicas anuladas de Venta Zona Franca con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestRevert"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura revertida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 3514,
                    "cuf": "1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74",
                    "siatCodeState": 907,
                    "siatDescriptionStatus": "REVERSION DE ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74&numero=3514&t=2",
                    "invoiceCode": "42FE88BD"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/exportService": {
      "post": {
        "summary": "Genera una factura electrónica de Comercial de Exportación de Servicios",
        "description": "Genera una factura electrónica para transacciones de exportación de servicios en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestExportServices"
              },
              "example": {
                "posId": 1,
                "clientReasonSocial": "VIDAURRE",
                "clientDocumentType": 5,
                "clientNroDocument": "1410245015",
                "exceptionCode": 1,
                "clientCode": "ADMINCLIENT",
                "clientComplement": null,
                "clientEmail": "normmy@gmail.com",
                "clientPhone": "123123123",
                "paramPaymentMethod": 27,
                "userPos": "USRTESTB341",
                "paramCurrency": "1",
                "clientCity": "SANTA CRUZ",
                "exchangeRate": 8.31,
                "amountUsd": 178.16,
                "additionalDiscount": 1,
                "giftCard": 2,
                "observations": "observations",
                "detailInvoice": [
                  {
                    "activityEconomic": "620100",
                    "unitMeasure": 62,
                    "codeProductSin": 83141,
                    "codeProduct": "PAGOS-F12907",
                    "description": "PAGO DE MATRICULA",
                    "qty": 44,
                    "priceUnit": 8.3
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura generada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                },
                "example": {
                  "message": "COMPLETED_RATE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "nitEmissor": 6822046012,
                    "invoiceCode": "FDA62098",
                    "cuf": "1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74",
                    "invoiceNumber": 14,
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74&numero=14&t=2",
                    "invoiceUrl": "/pdf?code=FDA62098zE5zDVSS4AVTk1RlQjuq&client=V0K9O3URC2849MOQ7Z4PI48B3",
                    "dateEmission": "2024-12-21T16:11:41.805",
                    "amountTotal": 0.0,
                    "amountTotalDiscount": 1.0,
                    "amountTotalCurrency": 364.2,
                    "userCashier": "USRTESTB341",
                    "siatCodeState": 908,
                    "siatCodeReception": "cb43167f-bfd7-11ef-9792-874b9ca9eb03",
                    "siatDescriptionStatus": "VALIDADA",
                    "countItems": 1,
                    "invoiceXml": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<facturaComputarizadaCompraVenta>\n    <cabecera>\n        <nitEmisor>6822046012</nitEmisor>\n        <razonSocialEmisor></facturaComputarizadaCompraVenta>\n",
                    "detailInvoice": [
                      {
                        "detailId": 3,
                        "activityEconomic": "620100",
                        "codeProductSin": "83141",
                        "codeProduct": "CC-SRVSISCLOUD123",
                        "description": "IMPLEMETACION DE SISTEMAS EN LA NUBE",
                        "qty": 2.0025,
                        "unitMeasure": 11,
                        "priceUnit": 1000.0,
                        "amountDiscount": 0.0,
                        "subTotal": 2000.0,
                        "numberSerial": null,
                        "numberImei": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/exportService/anulation": {
      "post": {
        "summary": "Anula una factura electrónica de Comercial de Exportación de Servicios",
        "description": "Endpoint para la anulación de facturas electrónicas de Comercial de Exportación de Servicios con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestAnulate"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "codeMotive": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 5,
                    "cuf": "1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74",
                    "siatCodeState": 905,
                    "siatDescriptionStatus": "ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74&numero=5&t=2",
                    "invoiceCode": "D80C9B77"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/exportService/revert": {
      "post": {
        "summary": "Revierte una factura anulada electrónica  de Comercial de Exportación de Servicios",
        "description": "Endpoint para la reversión de facturas electrónicas anuladas  de Comercial de Exportación de Servicios con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestRevert"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura revertida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 3514,
                    "cuf": "1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74",
                    "siatCodeState": 907,
                    "siatDescriptionStatus": "REVERSION DE ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74&numero=3514&t=2",
                    "invoiceCode": "42FE88BD"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/hospital": {
      "post": {
        "summary": "Genera una factura electrónica de Hospitales/Clínicas",
        "description": "Genera una factura electrónica para hospitales y clínicas, deberá incluir información de los pacientes y médicos cuando sea una intervención quirúrgica en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestHospital"
              },
              "example": {
                "posId": 1,
                "clientReasonSocial": "VIDAURRE",
                "clientDocumentType": 5,
                "clientNroDocument": "1410245015",
                "exceptionCode": 1,
                "clientCode": "ADMINCLIENT",
                "clientComplement": null,
                "clientEmail": "normmy@gmail.com",
                "clientPhone": "123123123",
                "paramPaymentMethod": 27,
                "userPos": "USRTESTB341",
                "paramCurrency": "1",
                "clientCity": "SANTA CRUZ",
                "exchangeRate": 8.31,
                "amountUsd": 178.16,
                "additionalDiscount": 1,
                "giftCard": 2,
                "observations": "observations",
                "detailInvoice": [
                  {
                    "activityEconomic": "620100",
                    "unitMeasure": 62,
                    "codeProductSin": 83141,
                    "codeProduct": "PAGOS-F12907",
                    "description": "PAGO DE MATRICULA",
                    "qty": 44,
                    "priceUnit": 8.3
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura generada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                },
                "example": {
                  "message": "COMPLETED_HOSPITAL",
                  "errors": null,
                  "success": true,
                  "data": {
                    "nitEmissor": 6822046012,
                    "invoiceCode": "FDA62098",
                    "cuf": "1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74",
                    "invoiceNumber": 14,
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74&numero=14&t=2",
                    "invoiceUrl": "/pdf?code=FDA62098zE5zDVSS4AVTk1RlQjuq&client=V0K9O3URC2849MOQ7Z4PI48B3",
                    "dateEmission": "2024-12-21T16:11:41.805",
                    "amountTotal": 0.0,
                    "amountTotalDiscount": 1.0,
                    "amountTotalCurrency": 364.2,
                    "userCashier": "USRTESTB341",
                    "siatCodeState": 908,
                    "siatCodeReception": "cb43167f-bfd7-11ef-9792-874b9ca9eb03",
                    "siatDescriptionStatus": "VALIDADA",
                    "countItems": 1,
                    "invoiceXml": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<facturaComputarizadaCompraVenta>\n    <cabecera>\n        <nitEmisor>6822046012</nitEmisor>\n        <razonSocialEmisor></facturaComputarizadaCompraVenta>\n",
                    "detailInvoice": [
                      {
                        "detailId": 3,
                        "activityEconomic": "620100",
                        "codeProductSin": "83141",
                        "codeProduct": "CC-SRVSISCLOUD123",
                        "description": "IMPLEMETACION DE SISTEMAS EN LA NUBE",
                        "qty": 2.0025,
                        "unitMeasure": 11,
                        "priceUnit": 1000.0,
                        "amountDiscount": 0.0,
                        "subTotal": 2000.0,
                        "numberSerial": null,
                        "numberImei": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/hospital/anulation": {
      "post": {
        "summary": "Anula una factura electrónica de Comercial de Exportación de Servicios",
        "description": "Endpoint para la anulación de facturas electrónicas de Comercial de Exportación de Servicios con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestAnulate"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "codeMotive": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_HOSPITAL",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 5,
                    "cuf": "1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74",
                    "siatCodeState": 905,
                    "siatDescriptionStatus": "ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74&numero=5&t=2",
                    "invoiceCode": "D80C9B77"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/hospital/revert": {
      "post": {
        "summary": "Revierte una factura anulada electrónica de Hospitales/Clínicas",
        "description": "Endpoint para la reversión de facturas electrónicas anuladas de Hospitales/Clínicas con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestRevert"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_SALE",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 3514,
                    "cuf": "1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74",
                    "siatCodeState": 907,
                    "siatDescriptionStatus": "REVERSION DE ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A69962981C8A7D4A01B61C2C8348E7042101A881E9749E74&numero=3514&t=2",
                    "invoiceCode": "42FE88BD"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/debit": {
      "post": {
        "summary": "Genera una Nota debito Crédito",
        "description": "Genera una Nota Crédito y Débito Fiscal de los Sujetos Pasivos o compradores con validación en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestDebit"
              },
              "example": {
                "posId": 1,
                "clientReasonSocial": "VIDAURRE",
                "clientDocumentType": 5,
                "clientNroDocument": "1410245015",
                "exceptionCode": 1,
                "clientCode": "ADMINCLIENT",
                "clientComplement": null,
                "clientEmail": "normmy@gmail.com",
                "clientPhone": "123123123",
                "paramPaymentMethod": 27,
                "userPos": "USRTESTB341",
                "paramCurrency": "1",
                "clientCity": "SANTA CRUZ",
                "exchangeRate": 8.31,
                "amountUsd": 178.16,
                "additionalDiscount": 1,
                "giftCard": 2,
                "observations": "observations",
                "detailInvoice": [
                  {
                    "activityEconomic": "620100",
                    "unitMeasure": 62,
                    "codeProductSin": 83141,
                    "codeProduct": "PAGOS-F12907",
                    "description": "PAGO DE MATRICULA",
                    "qty": 44,
                    "priceUnit": 8.3
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura generada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                },
                "example": {
                  "message": "COMPLETED_HOSPITAL",
                  "errors": null,
                  "success": true,
                  "data": {
                    "nitEmissor": 6822046012,
                    "invoiceCode": "FDA62098",
                    "cuf": "1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74",
                    "invoiceNumber": 14,
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A6996BEB5B78C68E8B3B1E9695FA95CC29F45412D8849E74&numero=14&t=2",
                    "invoiceUrl": "/pdf?code=FDA62098zE5zDVSS4AVTk1RlQjuq&client=V0K9O3URC2849MOQ7Z4PI48B3",
                    "dateEmission": "2024-12-21T16:11:41.805",
                    "amountTotal": 0.0,
                    "amountTotalDiscount": 1.0,
                    "amountTotalCurrency": 364.2,
                    "userCashier": "USRTESTB341",
                    "siatCodeState": 908,
                    "siatCodeReception": "cb43167f-bfd7-11ef-9792-874b9ca9eb03",
                    "siatDescriptionStatus": "VALIDADA",
                    "countItems": 1,
                    "invoiceXml": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<facturaComputarizadaCompraVenta>\n    <cabecera>\n        <nitEmisor>6822046012</nitEmisor>\n        <razonSocialEmisor></facturaComputarizadaCompraVenta>\n",
                    "detailInvoice": [
                      {
                        "detailId": 3,
                        "activityEconomic": "620100",
                        "codeProductSin": "83141",
                        "codeProduct": "CC-SRVSISCLOUD123",
                        "description": "IMPLEMETACION DE SISTEMAS EN LA NUBE",
                        "qty": 2.0025,
                        "unitMeasure": 11,
                        "priceUnit": 1000.0,
                        "amountDiscount": 0.0,
                        "subTotal": 2000.0,
                        "numberSerial": null,
                        "numberImei": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/electronic/debit/anulation": {
      "post": {
        "summary": "Anula una Nota debito crédito",
        "description": "Endpoint para la anulación de Notas Debito Crédito en tiempo real ante el SIN",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequestAnulate"
              },
              "example": {
                "invoiceCode": "D80C9B77",
                "posId": 1,
                "branchId": 1,
                "codeMotive": 1,
                "invoiceNumber": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Factura anulada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseAnulate"
                },
                "example": {
                  "message": "COMPLETED_HOSPITAL",
                  "errors": null,
                  "success": true,
                  "data": {
                    "invoiceNumber": 5,
                    "cuf": "1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74",
                    "siatCodeState": 905,
                    "siatDescriptionStatus": "ANULACION CONFIRMADA",
                    "qrCode": "https://pilotosiat.impuestos.gob.bo/consulta/QR?nit=6822046012&cuf=1D2C888524A59DA163372084D5C6D0EF29B39A4212405AA79B33246D74&numero=5&t=2",
                    "invoiceCode": "D80C9B77"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos de entrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/event/start": {
      "post": {
        "summary": "Iniciar evento significativo",
        "description": "Registra un evento significativo (contingencia) en el sistema de facturación",
        "tags": [
          "Eventos Significativos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartEventRequest"
              },
              "examples": {
                "sinCAFC": {
                  "value": {
                    "posId": 1,
                    "codeMotive": 1,
                    "description": "TEST INVOICE EDU"
                  }
                },
                "conCAFC": {
                  "value": {
                    "posId": 1,
                    "codeMotive": 5,
                    "dateInitEvent": "2022-07-05T13:34:12",
                    "dateEndEvent": "2022-07-05T16:00:18",
                    "description": "TEST INVOICE"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evento iniciado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                },
                "examples": {
                  "sinCAFC": {
                    "value": {
                      "message": "COMPLETED",
                      "errors": null,
                      "success": true,
                      "data": {
                        "description": "TEST INVOICE EDU",
                        "descriptionMotive": "CORTE DEL SERVICIO DE INTERNET",
                        "eventCode": "XM8VYT1I4FUIPSQM",
                        "dateInitEvent": "2022-04-21T16:06:07.136",
                        "dateEndEvent": null,
                        "siatReceptionCode": null,
                        "cufEvent": "BQUFVQnVVOkdBNz0U2RTU3MkM2REY=Q3nCrHpCTldFV1VFGMjQxREZDMERCQ",
                        "controlCodeEvent": "0BE7EBAAAD56D74",
                        "cafc": "134E1F5FE954D",
                        "codeMotive": 5,
                        "isEndEvent": null,
                        "pack": null
                      }
                    }
                  },
                  "conCAFC": {
                    "value": {
                      "message": "COMPLETED",
                      "errors": null,
                      "success": true,
                      "data": {
                        "description": "TEST INVOICE",
                        "descriptionMotive": "CORTE DE SUMINISTRO DE ENERGIA ELECTRICA",
                        "eventCode": "EOFY3RE8ILUIJSNG",
                        "dateInitEvent": "2022-07-05T13:34:12",
                        "dateEndEvent": "2022-07-05T16:00:18",
                        "siatReceptionCode": null,
                        "cufEvent": "BQUtDJVpCQkE=NzjQ2MTVBMDQ5NTc=QmV7TGlOR0hXVUFFFNzg3RDlDMEZGQ",
                        "controlCodeEvent": "359DB59ACF96D74",
                        "cafc": "101F62C692B4D",
                        "codeMotive": 5,
                        "isEndEvent": null,
                        "pack": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/event/end": {
      "post": {
        "summary": "Finalizar evento significativo",
        "description": "Registra la finalización de un evento significativo (contingencia)",
        "tags": [
          "Eventos Significativos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeHeader"
          },
          {
            "$ref": "#/components/parameters/CucukeyHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndEventRequest"
              },
              "example": {
                "posId": 1,
                "eventCode": "1IQIZ3G1KHYHGQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evento finalizado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndEventResponse"
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": [
                    {
                      "packageId": 6,
                      "siatStatusDescription": "VALIDADA",
                      "siatStatus": 908,
                      "siatCodeReception": "396f5d6f-c0eb-11ec-8238-859ee1bceb21",
                      "docSector": 1,
                      "typeInvoice": 1,
                      "process": true,
                      "posId": 120,
                      "branchId": 0,
                      "crc32": [
                        "CF088B9A"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/email": {
      "post": {
        "summary": "Envío de factura por email",
        "description": "Permite enviar la factura en formato PDF y XML con firma digital al correo electrónico especificado",
        "tags": [
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              },
              "example": {
                "invoiceCode": "79338BF1",
                "sendEmail": "cucu@gmail.com",
                "subject": "EMAIL DE PRUEBA SIN VERIFICACION"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email enviado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponse"
                },
                "example": {
                  "message": "COMPLETED",
                  "errors": null,
                  "success": true,
                  "data": {
                    "sendEmail": "cucu@gmail.com",
                    "subject": "EMAIL DE PRUEBA SIN VERIFICACION",
                    "invoiceCode": "79338BF1",
[...]
